#kontak{
    padding:100px 8%;
}

.contact-container{
    background:white;
    border-radius:30px;
    padding:60px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.contact-container h1{
    color:#2c5d8a;
    font-size:50px;
    margin-bottom:20px;
}

.contact-container p{
    color:#5f7d99;
    margin-bottom:40px;
}

.contact-wrapper{
    display:grid;
    grid-template-columns:1fr 1.4fr;
    gap:40px;
}

.contact-info{
    background:#eef7ff;
    border-radius:25px;
    padding:35px;
}

.contact-info h2{
    color:#24496e;
    margin-bottom:20px;
}

.info-item{
    background:white;
    padding:18px;
    margin-bottom:15px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

/* FORM */
.contact-form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{
    padding:16px;
    border-radius:12px;
    border:1px solid #c8e2ff;
    outline:none;
    font-size:15px;
}

.contact-form button{
    padding:15px;
    border:none;
    border-radius:12px;
    background:#6eb5ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.contact-form button:hover{
    background:#4ea4ff;
}

.hero-contact{
    background:linear-gradient(to right,#eef7ff,#dceeff);
    text-align:center;
    padding:70px 20px;
}

.hero-contact h1{
    font-size:48px;
    color:#24496e;
    margin-bottom:15px;
}

.hero-contact p{
    color:#6483a0;
    font-size:18px;
}

/* RESPONSIVE */
@media(max-width:768px){

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        gap:15px;
    }

    .contact-container{
        padding:35px;
    }

    .contact-container h1{
        font-size:36px;
    }

}
